@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/cadastro.css");
@import url("styles/rodape.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --cor-de-fundo: #EBECEE;
    --cor-cabecalho: #FFFFFF;
    --cor-titulo: #EB9B00;
    --cor-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-texto-card: #002F52;
    --cor-paragrafo-card: #000000;
    --cor-texto-rodape: #474646;

    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}